<div class="toolbar" role="banner">
  <img width="40" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <span>Welcome</span>
    <svg id="twitter-logo" height="24" data-name="Logo — FIXED" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
    </svg>
</div>
<br/>

  <div style="padding:5px">
    <ul class="nav nav-tabs">
      <li routerLinkActive="active">
        <a routerLink="home">Home</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="emolpyee/create">Form</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="employee/list">custom/pipes/Input/output </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="BuildInDirective">Directive</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="CustomDirective">Custom Directive</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="Interpolation">Interpolation</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="Tokeninterceptor">Tokeninterceptor</a>
      </li>


      <li routerLinkActive="active">
        <a routerLink="lifecycle">lifecycle</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="dependencyinjection"> dependency injection </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="eventemitter">event emitter</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="pipeexample">pipe example</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="stroge">Session/Web Stroge</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="viewchild-parent">Viewchild-parent Example</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="rx-js-learning">RX Js Learning</a>
      </li>
    </ul>
  <!-- <br/>

  Your Text : <input type='text' [(ngModel)]='userText'/>
               <br/><br/>
<app-lifecycle [simpleInput]='userText'></app-lifecycle> -->
  <router-outlet></router-outlet>
</div>
